/** FRCFMS plugin style sheet **/
@red: #fa1137;
@blue: #6879ed;
@red-alt: lighten(@red, 20%);
@blue-alt: lighten(@blue, 20%);
.fms{
    width:100%;
    display:inline;
    li{
        float:left;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        width:50%;
        .red{
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            li{
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                background-color:@red;
                width: 100%;
                &:nth-child(odd){
                    background-color:@red-alt;
                }
                .score{
                    outline:3px solid black;
                    background-color:darken(@red,5%);
                }
            }
        }
        .blue{
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            li{
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                background-color:@blue;
                width: 100%;
                &:nth-child(odd){
                    background-color:@blue-alt;
                }
            }
                .score{
                    outline:3px solid black;

                }
        }
    }
}