/* CSS crunched with Crunch - http://crunchapp.net/ */
.fms{width:100%;display:inline;}.fms .red{width:50%;float:left;}.fms .red li{background-color:#fa1137;}.fms .red li:nth-child(odd){background-color:#fc758b;}
.fms .blue{width:50%;float:right;}.fms .blue li{background-color:#6879ed;}.fms .blue li:nth-child(odd){background-color:#c3caf8;}
